
body{
    display: flex;
    justify-content: center;
    margin: 5%;
}
h4{
    display: flex;
    justify-content: center;
    
}
.container{
    width:400px;
    height:400px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(129,139,160),rgba(109,119,140),rgb(79, 89, 110));
    color:aliceblue;
    border-radius: 4px;
}
form{
    width:max-content;
    margin-top: 80px;
}
select{
    width:190px;
    height:24px;
    border-radius: 4px;
    margin:10px 0px 0px 0px;
}
input{
    border-radius: 4px;
    width:190px;
    height:24px;
    
}
button{
    height: 30px;
    width: 90px;
    border-radius: 4px;
    margin:10px 0px 0px 50px;
}
button:hover{
    color:white;
    background-image: linear-gradient(to right, rgba(129,139,160),rgba(109,119,140),rgb(79, 89, 110));
    border:3px solid rgb(239, 248, 251);
    width:88px;
    transition: background-image 0.9s,color 0.9s,border 0.9s ease-in-out;
}
p{
    margin:15px 0px 0px 15px;
    border:3px solid rgba(239,248,251);
    background-image: linear-gradient(to right, rgba(129,139,160),rgba(109,119,140),rgb(79, 89, 110));
    width:170px;
    height:27px;
    border-radius: 4px;
    text-align: center;
    transition: background-image 1s,border 1s;
}
span{
    position: relative;
    top:7px;
}
.header{
    display: flex;
    justify-content: center;
    position: relative;
    margin:0px 0px 100px 615px;
  
  
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-style:bold;
}